* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    position: relative;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

nav #nav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    gap: 5%;
}

nav i {
    font-size: 30px;
    font-weight: 600;
}

nav h3 {
    font-size: 20px;
    font-weight: 600;
}

nav h3:hover {
    text-decoration: underline;
}

#content {
    height: calc(100% - 100px);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding: 0 40px;
}

#content div {
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

#box1 {
    grid-column: 1 / 2;
    background-image: url(https://images.unsplash.com/photo-1500389723459-ca24a5564899?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Ym95JTIwbG9va2luZyUyMGF0JTIwc2t5fGVufDB8MXwwfHx8MA%3D%3D);
}

#box2 {
    grid-column: 2 / 6;
    background-image: url(https://media.istockphoto.com/id/1254388687/photo/young-woman-hiker-with-backpack-travels-outdoors-in-the-forest.jpg?s=612x612&w=0&k=20&c=q_rv5pT_8vfch3Y3VCeZnbh7cDhqkPMHhR7G8sGfYwE=);
}

#box3 {
    grid-column: 6 / 7;
    background-image: url(https://images.unsplash.com/photo-1554151228-14d9def656e4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGJveSUyMHNtaWxpbmclMjBvbmx5JTIwZmFjZXxlbnwwfDF8MHx8fDA%3D);
}

#box4 {
    grid-row: 2;
    grid-column: 1 / 2;
    background-image: url(https://images.unsplash.com/photo-1575224300306-1b8da36134ec?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FuZHl8ZW58MHwxfDB8fHww);
}

#box5 {
    grid-row: 2;
    grid-column: 2 / 3;
    background-image: url(https://images.unsplash.com/photo-1644902617091-1938f641861f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bWVuJTIwZmlzaGluZ3xlbnwwfDF8MHx8fDA%3D);
}

#box6 {
    grid-row: 2;
    grid-column: 3 / 7;
    background-image: url(https://media.istockphoto.com/id/1452661462/photo/casual-young-men-break-dancing.jpg?s=2048x2048&w=is&k=20&c=UDQGCmV15vROh5Nzvuu0-PfJ3KSSvQsMTkkoNTu-yoo=);
}

#box3 h1 {
    color: white;
    font-weight: 500;
    font-size: 60px;
    text-align: center;
    opacity: 0.7;
}

#box3 p {
    color: white;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    opacity: 0.7;
}

#explore, #cart {
    height: 40px;
    width: 120px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#explore {
    top: 70%;
    right: 0%;
    background: rgb(254, 2, 44);
    color: white;
}

#cart {
    top: 75%;
    right: 0%;
    background-color: white;
}

#cart i {
    font-size: 20px;
    color: rgb(254, 2, 44);
}

#explore i {
    font-size: 20px;
}

#chat {
    background: rgb(254, 2, 44);
    color: white;
    border-radius: 50px;
    height: 50px;
    width: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
    font-weight: 700;
    bottom: 1%;
    right: 0%;
}

#chat i {
    font-size: 25px;
}

@media (max-width: 767px) {
    nav #nav {
        display: none;
    }

    #content {
        height: 90%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        padding: 0 10px;
    }

    #box1 {
        grid-column: 1 / 7;
        grid-row: 1 / 5;
        background-position: 0 80%;
    }

    #box2 {
        grid-column: 7 / 13;
        grid-row: 1 / 3;
    }

    #box3 {
        grid-column: 7 / 13;
        grid-row: 3 / 8;
    }

    #box4 {
        grid-row: 5 / 9;
        grid-column: 1 / 7;
    }

    #box5 {
        grid-row: 8 / 12;
        grid-column: 7 / 13;
    }

    #box6 {
        grid-row: 9 / 11;
        grid-column: 1 / 7;
    }

    #explore, #cart {
        display: none;
    }

    #chat {
        bottom: 25px;
        right: 25px;
    }

    #main {
        height: 150%;
        width: 100%;
        position: relative;
    }

    nav {
        padding: 0 20px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    nav #nav {
        gap: 2.5%;
    }

    #content {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #content div {
        background-position: center;
    }

    #box1 {
        grid-column: 1 / 3;
    }

    #box2 {
        grid-column: 3 / 6;
    }

    #box3 {
        grid-column: 6 / 8;
    }

    #box4 {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    #box5 {
        grid-column: 3 / 5;
        grid-row: 2;
    }

    #box6 {
        grid-column: 5 / 8;
        grid-row: 2;
    }

    #chat {
        bottom: 48%;
    }

    #explore {
        top: 55%;
    }

    #cart {
        top: 60%;
    }
}
